body {
    display: flex;
    min-height: 100vh;
    padding: 25px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    padding: 0 10rem;

    .container {
        width: 70%;
    }
}