body {
    display: flex;
    min-height: 100vh;
    padding: 25px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    padding: 0 10rem;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .main .container {
        width: 70%;
    }
}
