<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout('Score', ~{::body})">
    <body>

        <div class="score-wrapper">
            <h1>Résultat</h1>

            <p th:text="${score.getValidAnswers() + ' des ' + total_questions + ' réponses aux questions sont correcte'}"></p>
            <span th:text="'Votre temps : ' + ${quiz_duration}"></span>

            <a th:href="@{/}" class="btn btn-primary">Faire un nouveau quiz</a>
            <a th:href="@{/score/quiz/{id_quiz}(id_quiz= ${id_quiz})}">Voir les scores</a>
        </div>
    </body>
</html>