<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout('Scores', ~{::body})">
<body>

    <div class="container">
        <h1>Classement</h1>

        <section class="score-wrapper">
            <div class="score-item" th:each="score: ${scores}" th:classappend="${scoreStat.index < 3 ? 'is-top' : null}" >

                <span class="score-item-rank" th:text="${scoreStat.index + 1}"></span>
                <span class="score-item-pseudo" th:text="${score.getPseudo()}"></span>

                <small class="score-item-valid" th:text="'Bonnes réponse(s): ' + ${score.getValidAnswers()}"></small>
                <small class="score-item-duration" th:text="'Durée: ' + ${score.getDuration()} + 's'"></small>
            </div>
        </section>
    </div>
</body>
</html>