<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title th:text="'CESI QCM - ' + ${title}"></title>

        <link rel="stylesheet" type="text/css" th:href="@{/css/bundle.css}"/>
    </head>
    <body>

        <section class="bar">
            <h1>QCM</h1>
        </section>

        <main class="main" th:include="${content}"></main>
    </body>
</html>