body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 13px;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color, color;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

body {
  display: flex;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0 10rem;
}
.main .container {
  width: 70%;
}

.btn {
  padding: 15px 25px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 4px;
  border: 2px solid;
  cursor: pointer;
  margin-right: 20px;
  font-weight: bold;
  color: #fff;
}
.btn.btn-primary {
  background-color: #65d661;
  border-color: #65d661;
}
.btn.btn-primary:hover {
  background-color: #17cb4d;
  border-color: #17cb4d;
}
.btn.btn-secondary {
  border-color: #ebebec;
  background-color: transparent;
  color: #000;
}
.btn.btn-secondary:hover {
  border-color: #000;
}
.btn:disabled {
  background-color: #ebebec;
}

.form > *:not(:last-child), .form .fieldset > *:not(:last-child) {
  margin-bottom: 20px;
}
.form .form-input-group {
  display: flex;
  flex-direction: column-reverse;
}
.form .form-input-group, .form .form-radio-group {
  border: 1px solid #ebebec;
  border-radius: 4px;
  padding: 10px;
}
.form .form-radio-group {
  display: flex;
  align-items: center;
}
.form .form-radio-group span {
  margin-left: 5px;
}
.form .label {
  font-size: 12px;
  color: #969699;
  margin-bottom: 10px;
  transition: color 0.2s;
}
.form .input, .form .select, .form .textarea {
  border: none;
  outline: none;
  padding: 5px;
  transition: all 0.2s;
}
.form .input:focus + .label, .form .select:focus + .label, .form .textarea:focus + .label {
  color: #000;
}
.form .fieldset {
  border: none;
  padding: 20px 0;
}

.progressbar {
  display: block;
  background-color: #ebebec;
  height: 7px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.progressbar .progressbar-progress {
  position: relative;
  width: 0;
  height: 100%;
  background-color: #65d661;
  border-radius: inherit;
}
.progressbar .progressbar-progress:before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  background-color: red;
  border-radius: 100%;
  position: absolute;
  right: -7px;
  top: -7px;
}

.bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  background: linear-gradient(to bottom, #a164de, #8a5ae3);
  color: #fff;
  overflow: hidden;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}
.bar.bar-large {
  width: 40%;
  writing-mode: initial;
}

.home-form {
  width: 60%;
  align-self: center;
}

.quiz-answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(50px, auto);
}

.quiz-progressbar {
  margin-bottom: 30px;
}

/*# sourceMappingURL=bundle.css.map */
