<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout('Scores', ~{::body})">
<body>

    <h2>Classement</h2>
    <form method="post" th:action="@{/score2}" class="qcm-questions">
        <fieldset class="qcm-questions-item" th:each="score: ${scores}">
            <h2 th:text="'N °' + ${scoreStat.index + 1 }"></h2>
            <h2 th:text="'Pseudo : ' + ${score.getPseudo()}"></h2>
            <h2 th:text="'Score : ' + ${score.getValidAnswers()}"></h2>
            <h2 th:text="'Temps : ' + ${score.getDuration()} + 's'"></h2>
            <h2 th:text="'Date :'+ ${score.getCreationDate()}"></h2>
        </fieldset>
    </form>
</body>
</html>