<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout('Accueil', ~{::body})">
    <body>
        <div class="home-form">

            <h2>Sélectionner un questionnaire,<br/>et lancer vous!</h2>

            <form class="form" method="POST" th:action="@{/quiz}">

                <div class="form-input-group">
                    <label class="label" for="pseudo">Pseudonyme</label>
                    <input class="input" id="pseudo" type="text" name="pseudo" required />
                </div>

                <div class="form-input-group">
                    <label class="label" for="quiz">Quizz</label>
                    <select class="select" id="quiz" name="quiz" required>
                        <option th:each="quiz : ${quizzes}"
                                th:value="${quiz.getId()}"
                                th:utext="${quiz.getTheme()}"></option>
                    </select>
                </div>

                <button class="btn btn-primary">Lancer</button>
            </form>
        </div>
    </body>
</html>