<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>QCM</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    </head>
    <body>

        <section class="left-informations">
            <h1>QCM</h1>
        </section>

        <main class="main qcm">

            <section class="qcm-container">

                <div class="qcm-question">
                    <h4>Nom du questionnaire</h4>
                    <h1 style="text-align: center; margin-top: 60px">Question actuelle</h1>
                </div>

                <div class="qcm-answers">
                    <div>a</div>
                    <div>a</div>
                    <div>a</div>
                    <div>a</div>
                </div>

                <div class="form-input-group">
                    <label>Choissiez le QCM</label>

                    <select class="select" name="qcm">
                        <option th:each="question : ${questions}"
                                th:value="${question.getId_quiz()}"
                                th:utext="${question.getText_question()}"/>

                </div>
            </section>
        </main>

        <script type="text/javascript" src="../static/js/app.bundle.js"></script>
    </body>
</html>