<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout('Quiz', ~{::body})">
    <body>
        <section class="left-informations">
            <h1>QCM</h1>
        </section>

        <main class="main qcm">

            <section class="qcm-container">

                <div class="qcm-question">
                    <h4>Nom du questionnaire</h4>
                    <h1 style="text-align: center; margin-top: 60px">Question actuelle</h1>
                </div>

                <div class="qcm-answers">
                    <div th:each="question: ${questions}">
                        <p th:text="${question.getQuiz().getTheme()}"></p>
                        <p th:each="answer: ${question.getAnswers()}" th:text="${answer.getLabel()}"></p>
                    </div>
                </div>
            </section>
        </main>

        <script type="text/javascript" src="../static/js/app.bundle.js"></script>
    </body>
</html>