<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout('Quiz', ~{::body})">
    <body>
        <section class="left-informations">
            <h1>QCM</h1>
        </section>

        <main class="main qcm">

            <section class="qcm-container">

                <h1 data-chronometer>00:00:00</h1>

                <div class="qcm-question">
                    <h4>Nom du questionnaire</h4>
                    <h1 style="text-align: center; margin-top: 60px">Question actuelle</h1>
                </div>


                <div class="qcm-answers">
                    <div th:each="question: ${questions}">
                        <p th:text="${question.getQuiz().getTheme()}"></p>
                        <p th:text="${question.getLabel()}"></p>
                        <p th:each="answer: ${question.getAnswers()}" th:text="${answer.getLabel()}"></p>
                    </div>
                </div>
            </section>
        </main>

        <script type="text/javascript" src="../static/js/app.bundle.js"></script>
    <script >
        (() => {
            let hours = `00`,
                minutes = `00`,
                seconds = `00`,
                chronometerDisplay = document.querySelector(`[data-chronometer]`), chronometerCall

            function chronometer() {
                seconds ++
                if (seconds < 10) seconds = `0` + seconds

                if (seconds > 59) {
                    seconds = `00`
                    minutes ++
                    if (minutes < 10) minutes = `0` + minutes
                }

                if (minutes > 59) {
                    minutes = `00`
                    hours ++
                    if (hours < 10) hours = `0` + hours
                }
                chronometerDisplay.textContent = `${hours}:${minutes}:${seconds}`
            }
            chronometerCall.onload = setInterval(chronometer, 1000)
        })()


    </script>

    </body>
</html>