<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout('Quiz', ~{::body})">
<head>
    <meta charset="UTF-8">
    <title>TitleRanking</title>
</head>
<body>


<form method="post" th:action="@{/score2}" class="qcm-questions">
    <fieldset class="qcm-questions-item" th:each="score, iStat: ${scores}">
        <h2 th:text="'N °' + ${iStat.index + 1 }"></h2>
        <h2 th:text="'Pseudo : ' + ${score.getPseudo()}"></h2>
        <h2 th:text="'Score : ' + ${score.getFinal_score()}"></h2>
        <h2 th:text="'Temps : ' + ${score.getTime()} + 's'"></h2>
        <h2 th:text="'Date :'+ ${score.getDate()}"></h2>
        <h2 th:text="'Id Score : ' + ${score.getId_score()}"></h2>
    </fieldset>
</form>

</body>
</html>