<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout('Score', ~{::body})">
    <body>

        <h1>Résultat</h1>

        <p>3 des 10 réponses aux questions sont correcte</p>

        <small>Votre temps : 00:28:56</small>

        <div class="card">
            <div class="card-row">
                <span>Score moyen</span>
            </div>
            <div class="card-row">
                <span>Votre score</span>
            </div>
        </div>
    </body>
</html>