.bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20%;
    background: linear-gradient(to bottom, #1f6de5, #1465ed);
    color: #fff;
    overflow: hidden;
    border-radius: 5px;

    &.bar-large {
        width: 40%;
    }

    .bar-logo {
        font-size: 6rem;
        letter-spacing: 1rem;
        font-weight: bolder;
    }
}